.card
    width: 100%
    padding: 17px 10px
    background-color: #fff
    margin-bottom: 10px
    position: relative
    word-wrap: break-word

.close-card-btn
    position: absolute
    top: 5px
    right: 5px
    color: darken(#ebecf0, 40%)
    cursor: pointer
    &:hover
        color: darken(#ebecf0, 60%)