body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Tahoma", 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: auto;
  white-space: nowrap;
}

html {
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


* {
  box-sizing: border-box;
}
